@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

html {
	scroll-behavior: smooth;
}

:root {
	--primary-color: #005377;
	--seconddary-color: #d5c67a;
	--white: #fff;
}

body {
	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	background-color: var(--primary-color);
}

nav {
	position: fixed !important;
	width: 100%;
	background-color: var(--primary-color);
}

.highlighted {
	color: var(--seconddary-color);
}

.navbar-toggler {
	border: 2px solid var(--seconddary-color) !important;
	background-color: var(--seconddary-color) !important;
}

.navbar-brand img {
	width: 70px;
}

.nav-link {
	font-size: 18px;
	color: var(--white) !important;
	transition: 0.2s ease-out;
}

.nav-link:hover {
	color: var(--seconddary-color) !important;
}

.home {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	/* background-color: var(--primary-color); */
	padding: 9rem 0	 0 4rem;
	color: var(--white);
	transition: .3s ease-in;
}

.home-h1 {
	font-size: 4.5rem;
	margin-bottom: 1.5rem;
}

.home-p {
	font-size: 1.1rem;
}

.home-images {
	width: 400px;
	height: 220px;
	margin-bottom: 10px;
	object-fit: cover;
	border-radius: 10px;
}

.rd-image {
	width: 350px;
	height: 100%;
	border-radius: 10px;
	margin-right: 1rem;
}

.intro-photos {
	display: flex;
	justify-content: space-between;
	margin: 0 0 0 7rem;
	height: 90%;
	/* background-color: red; */
	width: 60%;
}

.not-finish {
	display: none;
}

.about {
	padding: 0 4rem;
}

.ab-h1 {
	text-align: center;
	color: var(--seconddary-color);
	margin-top: 1.5rem;
}

.ab-p {
	color: var(--white);
	margin: 1.5rem 0;
}



@media (max-width:600px) {
	nav {
		z-index: 1;
		width: 100%;
	}
	body {
		overflow-x: hidden;
	}

	.home-p {
		left: -20px;
	}

	.home {
		height: 135vh;
		/* padding-top: 10rem; */
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.intro-photos {
		justify-content: space-between;
		padding: 0;
		position: relative;
		left: -80px;
		/* background-color: red; */
		width: 100%;
	}

	.home-images {
		width: 200px;
		/* height: 10px; */
	}

	.rd-image {
		width: 200px;
		height: 450px;
	}

	.not-finish {
		display: block;
	}
}

@media (max-width:400px) {
	nav {
		width: 100%;
	}
	.navbar-brand img {
		width: 50px;
	}

	.home-h1 {
		font-size: 2.5rem;
	}

	.home-p {
		font-size: 0.8rem;
	}

	.intro-photos {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
	}

	.about {
		padding: 0 2rem;
	}

}